body,html{
    margin:0 !important;
    padding:0 !important;
}
body{height: 100%;}
h1, h2, h3, h4, h5, h6, th {
    font-family: 'Oswald', sans-serif;
}
p, span, a, button,  li, td, div{
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald');
@import 'product';
@import 'page';
